.top__header{
    background-color: #e7e8e8;
}

.top__header a {
    color: #111922;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__logo img {
    width: 400px;
}

.header {
    background-color: #111922;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 20px;
}

.form__welcome {
    border: 2px solid #111922;
}

.form{
    border: 2px solid #111922;
}

.firsttime{
    border: 2px solid #111922;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d252d;
}

.footer__company{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}
.footer__resources{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}
.footer__information{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}
.footer__register{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}

.footer__bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #111922;
}
